/* @media screen and (max-width:1200px) and (min-width: 770px) { */
html,body{
    height:100%;
    background-color: #4671f8;
}
.all{
    background-color: #4671f8;
    height:100%;
}

.nav{
    height: 15%;
    background-color: #f74e75;
    margin: auto;
    margin-top: 15%;
    font-size: 56px;
    width: 92%;
    border-radius: 25px;
}

#show{
    font-size: 56px;
    float: left;
}

#input{
    font-size: 56px;
    float: left;
}
#export{
    font-size: 56px;
    float: left;
}

.con {
    background-color: white;
    width: 92%;
    margin: auto;
    font-size: 56px;
    border-radius: 25px;
    padding-top: 1%;
}

.tigan{
    margin: 0% 5% 0 5%;
}
.options {
    margin: 0% 5% 0 5%;
    background-color:#f3f4f6;
    border: none;
    text-align: left;
    /* width: 82%; */
    /* margin: 2% 0%; */
    /* padding: 3% 10%; */
    /* word-wrap: break-word; */
}
.opt{
    font-size: 56px;
}

/* } */
